<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://use.fontawesome.com/0aee473986.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="navbar">
            <!-- Left-aligned navigation links -->
            <div class="nav-links">
                <div class="nav-link"><a href="/">Home</a></div>
            </div>

            <!-- Right-aligned logout button -->
            <div class="logout-button">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
