        /* Basic reset for margin and padding */
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }


        body {
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          margin-top: 0px;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 100px;
        }

        .top-text {
          font-size: 50px;
          margin-top: 20px;
          font-weight: bold;
        }

        .highlight {
          background-color: yellow;
          /* Change this to your desired highlight color */
        }

        #filter-form {
          width: 20%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: -20px;
        }

        /* Container for the entire comment section */
        .ticket-comment-row {
          margin: 20px;
          padding-top: 10px;
          background-color: #f9f9f9;
          border-radius: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }


        /* Styling the form inputs and button */
        form input[type="text"] {
          width: 75%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: #fff;
        }

        form input[type="checkbox"] {
          margin-right: 10px;
        }

        /* Label for the checkbox */
        .hide-comment {
          margin-right: 10px;
          font-size: 14px;
          color: #555;
        }

        /* Submit button styling */
        form button#addComment {
          padding: 10px 20px;
          background-color: #6e6e6e;
          color: white;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
        }

        form button#addComment:hover {
          background-color: #45a049;
        }

        /* Container for the comments list */
        .ticket-comments {
          max-height: 40vh;
          /* Set max height to 80% of the viewport height */
          overflow-y: auto;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-top: 20px;
          padding: 10px;
          border-radius: 20px;
        }

        .comment {
          background-color: #cfd0da;
          margin-bottom: 20px;
          border-radius: 20px;
        }

        .comment-top {
          display: flex;
          justify-content: space-between;
          /* Space between the two items */
          align-items: center;
          padding: 10px 30px;
          border-radius: 20px;
          /* Add some spacing around */
          border-bottom: 1px solid #ddd;
          background-color: #2c2e3a !important;
        }

        .user_name {
          font-weight: bold;
          font-size: 16px;
          color: white;
        }

        .time {
          font-size: 14px;
          color: #dddddd;
          white-space: nowrap;
        }

        .ticket-comments .hide-comment-color {
          background-color: #f8d7da !important;
          border: 1px solid #f5c6cb;
          border-radius: 20px;
        }

        /* Mobile responsive tweaks */
        @media (max-width: 768px) {
          form input[type="text"] {
            width: 100%;
          }

          form button#addComment {
            width: 100%;
          }

          .ticket-comment-row {
            padding: 15px;
          }
        }

        .ticket-top-row {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          display: flex;
          justify-content: space-between;
          /* Adjust spacing between the two elements */
          align-items: center;
          /* Vertically align items to the center */
          margin-bottom: 10px;
          height: 80px;
          /* Add some space between rows if needed */
          padding: 0 10%;
          /* Add padding to control left and right space */
          position: relative;
        }

        .ticket-bottom-row {
          display: flex;
          position: relative;
          justify-content: space-between;
          margin-bottom: 5%;
          padding-top: 20px;
        }


        .agent {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          position: absolute;
          right: 5%;
          /* Push created to the left */
          padding: 15px 20px;
          border-radius: 20px;
        }

        select[name="ticketStatus"] {
          appearance: none;
          /* Removes default dropdown arrow */
          -webkit-appearance: none;
          /* For Safari */
          -moz-appearance: none;
          /* For Firefox */

          border: none;
          /* Remove border */
          background-color: transparent;
          /* Transparent background */
          font-size: 16px;
          /* Font size to match regular text */
          color: inherit;
          /* Inherit the text color */
          cursor: pointer;
          /* Pointer cursor to indicate clickability */
          padding: 0;
          /* Remove padding */
          margin: 0;
          /* Remove margin */
          width: auto;
          /* Auto width for inline text-like appearance */
        }

        select[name="ticketStatus"]:focus {
          outline: none;
          /* Remove focus outline */
        }

        option {
          color: black;
          /* Ensure options are visible in the dropdown */
        }

        .agent h3,
        .agent h5,
        .creator h3,
        .creator h5 {
          margin-bottom: 10px;
          margin-top: 10px;
          /* Adds spacing below h3 and h5 */
        }

        .agent p,
        .creator p {
          margin-bottom: 15px;
          /* Adds spacing below the text (ticket.agent_name and ticket.agent_email) */
        }

        .creator {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          position: absolute;
          left: 5%;
          /* Push created to the left */
          padding: 15px 20px;
        }

        .created {
          position: absolute;
          left: 5%;
          /* Push created to the left */
          padding: 15px 20px;
        }

        .updated {
          flex: 1;
          /* Takes full remaining space in the center */
          text-align: center;
          /* Centers text within the div */
        }

        .status-indicator {
          margin-right: 10px;
          padding: 15px 20px;
          border-radius: 20px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        }

        .status {
          display: flex;
          /* Use Flexbox for layout */
          align-items: center;
          /* Vertically align items */
          justify-content: space-between;
          position: absolute;
          right: 5%;
          /* Push status to the right */
          max-width: 25%;
          /* Restrict the max width of status */

        }

        .ticket-information {
          font-size: 1.2em;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          margin-top: 25px;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 50%;
        }

        .description-top {
          padding: 20px;
          color: white;
          background-color: #2c2e3a;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
        }

        .description-bottom {
          margin: 20px;
          color: black;
          word-wrap: break-word;
          /* Ensure long words break to fit the container */
          white-space: normal;
          /* Allow the text to wrap naturally */
          overflow-wrap: anywhere;
          text-align: left;
        }

        .description-ticket {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 10px;
          max-width: 50%;
          background-color: whitesmoke;
        }

        .table-container {
          max-height: 70vh;
          /* Set max height to 80% of the viewport height */
          overflow-y: auto;
          /* Enable vertical scrolling */
          margin-top: 25px;
          padding-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          /* Adjust the width as needed */

        }

        /* For WebKit browsers */
        .table-container::-webkit-scrollbar,
        .ticket-comments::-webkit-scrollbar {
          width: 10px;
          /* Width of the scrollbar */
        }

        .table-container::-webkit-scrollbar-track,
        .ticket-comments::-webkit-scrollbar-track {
          background: #f1f1f1;
          /* Background of the scrollbar track */
        }

        .table-container::-webkit-scrollbar-thumb,
        .ticket-comments::-webkit-scrollbar-thumb {
          background-color: #888;
          /* Color of the scrollbar thumb */
          border-radius: 10px;
          /* Rounded edges of the scrollbar thumb */
          border: 2px solid #f1f1f1;
          /* Space between the thumb and the track */
        }

        .table-container::-webkit-scrollbar-thumb:hover,
        .ticket-comments::-webkit-scrollbar-thumb:hover {
          background-color: #555;
          /* Color when hovering over the scrollbar thumb */
        }

        .styled-table {
          border-collapse: separate;
          /* Changed to separate for border-radius to work */
          border-spacing: 0;
          /* Ensure no spacing between cells */
          margin-top: 25px;
          margin-left: auto;
          margin-right: auto;
          font-size: 1.2em;
          min-width: 50%;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          /* Rounded corners for the entire table */
          overflow: hidden;
          /* Ensure that the rounded corners are visible */
        }

        .styled-table thead tr {
          background-color: #0A21c0;
          color: #ffffff;
        }

        .styled-table tbody tr:hover {
          background-color: #B3B4BD !important;
          cursor: pointer;
        }

        .styled-table th,
        .styled-table td {
          padding: 35px 20px;
        }

        .styled-table tbody tr {
          border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
        }

        .styled-table td.toLong {
          max-width: 200px !important;
        }

        /* Description column specific styles */
        .toLong {
          max-width: 50% !important;
          /* Set max-width for the description column */
          overflow: hidden;
          /* Hide overflowed content */
          text-overflow: ellipsis;
          /* Add ellipsis for overflowed content */
          white-space: nowrap;
          /* Prevent text from wrapping */
        }

        /* Ensure the first and last rows have rounded corners */
        .styled-table thead tr:first-child th:first-child {
          border-top-left-radius: 20px;
          /* Top-left corner */
        }

        .styled-table thead tr:first-child th:last-child {
          border-top-right-radius: 20px;
          /* Top-right corner */
        }

        .styled-table tbody tr:last-child td:first-child {
          border-bottom-left-radius: 20px;
          /* Bottom-left corner */
        }

        .styled-table tbody tr:last-child td:last-child {
          border-bottom-right-radius: 20px;
          /* Bottom-right corner */
        }

        @media (max-width: 768px) {
          table {
            border: 0;
          }

          thead {
            display: none;
          }

          tbody,
          tr,
          td {
            display: block;
            width: 100%;
            box-sizing: border-box;
          }

          tr {
            margin-bottom: 10px;
          }

          td {
            text-align: right;
            position: relative;
            padding-left: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 45%;
            padding-left: 15px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: #f4f4f4;
          }
        }


        /* Basic styling for the navbar */
        nav {
          background-color: #141619;
          padding: 20px 20px;
          color: white;
          position: fixed;
          /* Fix the navbar at the top */
          top: 0;
          left: 0;
          width: 100%;
          height: 60px;
          /* Example navbar height */
          z-index: 1000;
          /* Ensure navbar stays on top */
        }


        /* Flex popup-container to separate links and the logout button */
        .navbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        /* Navbar links popup-container (for the left side links) */
        .nav-links {
          display: flex;
        }

        /* Individual navbar links */
        .nav-link {
          margin-right: 20px;
        }

        /* Navbar anchor tags */
        .nav-link a,
        .logout-button a {
          text-decoration: none;
          color: white;
          padding: 10px;
          font-size: 18px;
          transition: background-color 0.3s ease;
        }

        /* Hover effect */
        .nav-link a:hover,
        .logout-button a:hover {
          background-color: #2c2e3a;
          border-radius: 4px;
        }

        /* Logout button styling */
        .logout-button a {
          background-color: #f44336;
          /* Red background for the logout button */
          padding: 10px 20px;
          border-radius: 4px;
        }

        footer {
          position: fixed;
          left: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          bottom: 0;
          width: 100%;
          background-color: #141619;
          color: white;
          text-align: center;

        }

        .red-button {
          margin-left: 10px;
          padding: 15px 20px;
          font-size: 13px !important;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          background-color: red;
          border: none;
          border-radius: 20px;
          color: white;
          text-decoration: none;
          font-size: 20px;
          cursor: pointer;
        }

        .red-button:hover {
          background-color: #050A44;
        }

        .button {
          background-color: #0a21c0;
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          margin: 4px 2px;
          cursor: pointer;
        }

        .button:hover {
          background-color: #050A44;
        }

        .create {
          padding-top: 60px;
        }

        textarea {
          width: 100%;
          /* Full width of the popup-container */
          height: 150px;
          /* Set height */
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          resize: vertical;
          /* Allows resizing only in the vertical direction */
        }

        .popup-container .btn {
          background-color: #04AA6D;
          color: white;
          padding: 16px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          width: 100%;
          margin-bottom: 10px;
          opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .popup-container .cancel {
          background-color: red;
        }

        .popup-container .cancel:hover {
          background-color: rgb(87, 0, 0);
        }

        /* Add some hover effects to buttons */
        .popup-container .btn:hover,
        .open-button:hover {
          opacity: 1;
        }


        /* The popup form */
        .form-popup {
          display: none;
          position: fixed;
          left: 50%;
          top: 60px;
          /* Adjust this to match the height of the navbar */
          transform: translateX(-50%);
          /* Only center horizontally */
          max-height: 90%;
          overflow-y: auto;
          background-color: #fff;
          z-index: 999;
          font-size: 20px;
          /* Ensure popup is below the navbar */
        }

        .container {
          padding-top: 60px;
        }

        input[type=text],
        select {
          width: 75%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=submit] {
          width: 50%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }


        /* Add styles to the form popup-container */
        .popup-container {
          max-width: 5000px;
          min-width: 200px;
          border-radius: 15px;
          padding: 10px;
          background-color: #b3b4bd;
        }


        /* Full-width input fields */
        .popup-container input[type=text],
        .popup-container input[type=password],
        .popup-container input[type=number],
        select {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .popup-container input[type=text]:focus,
        .popup-container input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }

        .status-color-solved {
          color: green;
        }

        .status-color-closed {
          color: red;
        }

        .status-color-processed {
          color: blue;
        }

        .status-color-created {
          color: orange;
        }

        .status-color-unknown {
          color: gray;
        }

        .status-background-color-solved {
          background-color: green;
        }

        .status-background-color-closed {
          background-color: red;
        }

        .status-background-color-processed {
          background-color: blue;
        }

        .status-background-color-created {
          background-color: orange;
        }

        .status-background-color-unknown {
          background-color: gray;
        }

        .ticket-top-text {
          margin-left: auto;
          margin-right: auto;
          font-size: 35px;
          margin-top: 20px;
          font-weight: 1000;
          word-wrap: break-word;
          /* Ensures long words break into new lines */
          word-break: break-word;
          /* Handles breaking for long unbreakable words */
          max-width: 90%;
        }

        .ticket-comment-text {
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          word-wrap: break-word;
          /* Ensures long words break into new lines */
          word-break: break-word;
          /* Handles breaking for long unbreakable words */
          max-width: 90%;
        }
