        /* Basic reset for margin and padding */
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        /* Basic styling for the navbar */
        nav {
          background-color: #141619;
          padding: 20px 20px;
          color: white;
          position: fixed;
          /* Fix the navbar at the top */
          top: 0;
          left: 0;
          width: 100%;
          height: 60px;
          /* Example navbar height */
          z-index: 1000;
          /* Ensure navbar stays on top */
        }


        /* Flex popup-container to separate links and the logout button */
        .navbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        /* Navbar links popup-container (for the left side links) */
        .nav-links {
          display: flex;
        }

        /* Individual navbar links */
        .nav-link {
          margin-right: 20px;
        }

        /* Navbar anchor tags */
        .nav-link a,
        .logout-button a {
          text-decoration: none;
          color: white;
          padding: 10px;
          font-size: 18px;
          transition: background-color 0.3s ease;
        }

        /* Hover effect */
        .nav-link a:hover,
        .logout-button a:hover {
          background-color: #2c2e3a;
          border-radius: 4px;
        }

        /* Logout button styling */
        .logout-button a {
          background-color: #f44336;
          /* Red background for the logout button */
          padding: 10px 20px;
          border-radius: 4px;
        }

        footer {
          position: fixed;
          left: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          bottom: 0;
          width: 100%;
          background-color: #141619;
          color: white;
          text-align: center;

        }

        body {
          text-align: center;
          margin-top: 0px;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 100px;
        }

        .button {
          background-color: #0a21c0;
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          margin: 4px 2px;
          cursor: pointer;
        }

        .button:hover {
          background-color: #050A44;
        }

        .create {
          padding-top: 60px;
        }

        textarea {
          width: 100%;
          /* Full width of the popup-container */
          height: 150px;
          /* Set height */
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          resize: vertical;
          /* Allows resizing only in the vertical direction */
        }

        .popup-container .btn {
          background-color: #04AA6D;
          color: white;
          padding: 16px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          width: 100%;
          margin-bottom: 10px;
          opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .popup-container .cancel {
          background-color: red;
        }

        .popup-container .cancel:hover {
          background-color: rgb(87, 0, 0);
        }

        /* Add some hover effects to buttons */
        .popup-container .btn:hover,
        .open-button:hover {
          opacity: 1;
        }


        /* The popup form */
        .form-popup {
          display: none;
          position: fixed;
          left: 50%;
          top: 60px;
          /* Adjust this to match the height of the navbar */
          transform: translateX(-50%);
          /* Only center horizontally */
          max-height: 90%;
          overflow-y: auto;
          background-color: #fff;
          z-index: 999;
          font-size: 20px;
          /* Ensure popup is below the navbar */
        }

        .container {
          padding-top: 60px;
        }







        table {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;
          width: 75%;
          margin-top: 20px;
        }

        table td,
        table th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        table tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        table tr:hover {
          background-color: #ddd;
        }

        table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #393d3c;
          color: white;
        }



        .table-picture {
          max-width: 70px;
        }

        .showOrder:hover,
        .addOrder:hover,
        .addProductToOrder:hover {
          background-color: #000000;
          color: white;
          cursor: pointer;
        }

        .checkbox-box {
          border: 1px solid #ccc;
          padding: 5px;
          margin-top: 5px;
          margin-bottom: 10px;
          max-height: 200px;
          overflow-y: auto;
        }

        .checkbox-box div {
          margin-bottom: 5px;
          text-align: left !important;
        }

        .checkbox-box input[type="checkbox"] {
          margin-right: 5px;

        }

        .checkbox-box label {
          cursor: pointer;
        }

        .addToOrder,
        .deleteOrder,
        .orderTheOrder,
        .showpicklist,
        .showInvoice {
          background-color: #0099ff;
          color: white;
          padding: 16px 20px;
          margin-top: 10px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }

        .red {
          color: red;
        }

        .green {
          color: green;
        }

        .deleteOrder {
          background-color: #ff0000 !important;
        }


        .deleteOrder:hover {
          background-color: #690000 !important;
        }

        .orderTheOrder {
          background-color: #00ff2a !important;
        }

        .orderTheOrder:hover {
          background-color: #008616 !important;
        }

        .addToOrder:hover,
        .showpicklist:hover {
          background-color: #2a0061;
        }

        .status-Created {
          color: orange;
        }


        .status-Updated {
          color: blue;
        }

        .status-Shipped {
          color: green;
        }

        .status-Deleted {
          color: rgb(255, 0, 0);
        }

        .status-Ordered {
          color: rgb(145, 255, 0);
        }

        input[type=text],
        select {
          width: 75%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=submit] {
          width: 50%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }

        body {
          font-family: Arial, Helvetica, sans-serif;
        }

        .category-row {
          cursor: pointer;
        }


        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
          background-color: #0099ff;
          color: white;
          padding: 16px 20px;
          margin-top: 10px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          width: 280px;
        }

        .open-button:hover {
          background-color: #2a0061;
        }



        /* Add styles to the form popup-container */
        .popup-container {
          max-width: 5000px;
          min-width: 200px;
          border-radius: 15px;
          padding: 10px;
          background-color: #b3b4bd;
        }

        .amount-from {
          width: 100%;
          padding: 15px;
          border: none;
          border-radius: 5px;
          background-color: #c7c7c7;
        }

        .edit-form {
          z-index: 9999;
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          /* Center the element */
          border: 3px solid #f1f1f1;
          max-height: 90%;
          overflow-y: auto;
        }

        /* Full-width input fields */
        .popup-container input[type=text],
        .popup-container input[type=password],
        .popup-container input[type=number],
        select {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .popup-container input[type=text]:focus,
        .popup-container input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }
