<%- include("./../partials/header.ejs") %>
    <div class="container">
        <form class="" action="/edit-account" method="POST">
            <input type="text" placeholder="Name" name="name" value="" required>
            <input type="password" placeholder="Password" name="password" value="" required minlength="8"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,}"
                title="Password must be 8-20 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character (@#$%^&+=)">
            <button type="submit" class="btn " id="editAccount">add</button>
        </form>
    </div>

    <%- include("./../partials/footer.ejs") %>
