<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://use.fontawesome.com/0aee473986.js"></script>
</head>

<body class="container">
    <form action="/registration" method="POST">
        <label for="first_name">First Name</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="create">
    </form>
</body>

</html>
